name: Deploy Reasoning Engine

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allows manual triggering

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'  # Or your desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dependencies/requirements.txt

    - uses: 'google-github-actions/auth@v2'
      with:
        project_id: 'sean-reasoning-engine'
        workload_identity_provider: 'projects/266724850948/locations/global/workloadIdentityPools/github/providers/starter-pack'

    - name: Deploy to Vertex AI
      run: |
        python build/utils.py \
          --project_id=${{ env.PROJECT_ID }} \
          --location=${{ env.LOCATION }}\
          --staging_bucket=${{ env.STAGING_BUCKET }}
